:root{
    --ColorAcqua:rgb(46, 196, 182);
    --ColorOrange:rgb(255, 159, 26);
    --ColorWhite: rgb(230, 230, 230);
    --ColorBlueLux:rgb(23, 39, 56);
    --ColorBeigeLux:rgb(185, 179, 169);
    --ColorWhiteLux: rgb(221, 224, 237);

}

*{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.tx-WhiteLux{
    color: var(--ColorWhiteLux);
}
.tx-BeigeLux{
    color: var(--ColorBeigeLux);
}
.tx-BlueLux{
    color: var(--ColorBlueLux);
}
.tx-Acqua{
    color: var(--ColorAcqua);
}
.tx-Orange{
    color: var(--ColorOrange);
}
.tx-White{
    color: var(--ColorWhite);
}
.bg-Acqua{
    background-color: var(--ColorAcqua);
}
.bg-Orange{
    background-color: (var(--ColorOrange));
}
.bg-White{
    background-color: var(--ColorWhite);
}
.bg-BeigeLux{
    background-color: var(--ColorBeigeLux);
}


/* NAVBAR STYLE */

.navbar{
   
    background-color: var(--ColorBeigeLux);
    /* box-shadow: 0px 0px 10px 0px rgb(255, 255, 255); */
    transition: .5s;
    border-radius: 20px;

}

.navbarBlur{
    background-color: rgba(23, 39, 56,.5);
    /* box-shadow: 0px 0px 10px 0px rgb(255, 255, 255); */
    transition: .5s;
    border-radius: 0px;
}
.navbar-toggler{
    border: none !important;
    
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
   
  }

.navLogo{
    
    height: 50px;
    padding-right: 10px;
}
.iconNav{
    position: relative;

    /* border-left: 2px solid var(--ColorWhite); */
}
.iconNavCustom{
    cursor: pointer;
    color: var(--ColorBlueLux);
    /* text-shadow: 1px -1px 0px rgba(96, 96, 96, 1); */
   
}
.punto{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: var(--ColorOrange);
    font-weight: bold;
}
.textLogo{
    color: #fff;
}
.separatore{
    margin-bottom: 30px;
    box-shadow: 0px 8px 10px 0px gray;
    background-color: var(--ColorBlueLux);
    height: 9vh;

}
.logInBox{
    background-color: var(--ColorWhiteLux);
    height: 170px;
    width: 220px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    position: absolute;
    top: 50px;
    right: 55px;
    border-top-right-radius: 0px;

    
}
.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}



.buttonLog{
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    background-color: var(--ColorOrange);

}

/* HEADER STYLE */


.headerCustom{
    width: 100%;
    height: 100vh;
    background:url(./media/sfondo_header5.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: right;
    display: flex;
    /* background-attachment: fixed; */
}


.titolo{
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-shadow: 3px 8px 15px black;
    -webkit-text-stroke: 5px ;

}
.titolo2{
    margin-top: -7px;
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-shadow: 3px 8px 15px black;

}
.punto2{
    margin: 0;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 80px;
    color: var(--ColorOrange);
    font-weight: bold;

}

.box{
    color: var(--ColorWhite);
    padding-top: 35px;
    margin-top: 200px ;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 160, 26,.88);
    border-radius: 50%;
    border: 3px solid var(--ColorWhite);
}

.box:hover{
    background-color: rgba(46, 196, 182,.88);
}
.titoloCentrale{
    display: flex;
}


/* MAIN STYLE */
.puntoMain{
    margin: 0;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: var(--ColorOrange);
    font-weight: bold;
    
}
.titleMain{
    color: var(--ColorBlueLux);
    font-size: 50px;
    border-bottom: 10px solid var(--ColorBeigeLux);
    margin-bottom: 50px;
}


.card{
    margin-top: 100px;
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 400px;
    padding: px;
    background-color: var(--ColorWhite);
    position: relative;box-shadow: 0px 10px 10px 0px rgb(167, 166, 166);
}
.card:hover{
    
    transition: .3s;
}
.miniCard{
    padding-top:30px;
    padding-left: 28px;
    font-size: 20px;
    color: white;
    position: absolute;
    top:-50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: var(--ColorOrange);
    border-radius: 30px;
}
.buttonCard{
    width: 100%;
    color: white;
    margin-top: 0px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: var(--ColorAcqua);
    border-radius: 10px;
}
.buttonCard:hover{
    transition: .3s;
    animation: zoom 1s ease-in-out;
    animation-fill-mode: both;
    background-color: rgba(46, 196, 182,.8) ;
}

.value{
    padding: 0;
    margin: 0px 5px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    
}

.textArticle{
    padding: 0;
    margin-top: 18px;
 font-size: 30px;
}

.containerMainSection2{
    padding:0px 0px 0px 0px;
    margin: 30px 20px 10px 10px;
    border: 1px solid var(--ColorBeigeLux);
    border-radius: 9px;
    min-height: 100px;
    
}
.contentCard{
    padding: 0px;
    height: 100px;
}
.elementCircleCard{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: var(--ColorWhiteLux);
    border-radius: 50%;
}
.iconCircle{
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.textIconCircle{
    position: relative;
    top:-5px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}


.section2{

    margin-top: 50px;
    height: 70vh;
    background: url(https://cdn.samboat.com/assets/current/public/assets/v2/images/home/header/1920x1080.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.citazione{
    /* font-family: 'Arizonia', cursive; */
    font-size: 38px;
    text-align: center;
    color: var(--ColorBlueLux);
    margin: 20px 0px 0px 0px;

}
.boxRicerca{
    margin: 0;
    height: 42vh;
    background-color: var(--ColorWhiteLux);
    border-radius: 20px;
}
.cardCity1,.cardCity2,.cardCity3,.cardCity4,.cardCity5{
    height: 310px;


    border-radius: 10px;
}

.TextBox{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    color: var(--ColorBlueLux);
}

.image-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
.titoloSectionCard{
    color:var(--ColorBlueLux);
    justify-content: center;
    display: inline;
    font-size: 35px;
    border-bottom: 3px solid var(--ColorBeigeLux);
}
.cardBoat1{
   padding: 20px;
}
.textCardBoat{
    width: 250px;
    height: 100px;
    font-size: 90px;
    color: var(--ColorWhite);
    text-shadow: black 1px 0 10px; ;
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
}
.cardBoat1:hover{


    transition: .3s;
    animation: zoom .5s ease-in-out;
    animation-fill-mode: both;
}














@keyframes zoom {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}

}







@media only screen and (max-width: 600px) {
    .titolo,.titolo2 {
      font-size: 50px;
    }
    .titoloCentrale{
        text-align: center;
        display: block;
    }
    .TextBox{
        font-size: 4em;
    }
    .titolo,.titolo2{
        font-size: 50px;
    }
    .logInBox{
        position: relative;
        top:0px;    
        left: 30px;
        background-color: transparent;
        height: 160px;
        width: 220px;
        padding: 0;
        border-radius: 10px;
        margin-bottom: 0px;
           
    
    }
  }